{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:darkblue">
  <div class="container">
    <div class="row">
      <h1>Tic Tac Toe Time!</h1>
      <p></p>
    </div>
  </div>
</header>
<script>
function thesecretjavascriptfunction(tile) {
    var form = document.getElementById("thesecrettictactoeform")
    form.action = "/move/".concat(tile)
    form.requestSubmit()
}
</script>
<div class="container">
  <div class="row">
    The board goes here.
    <table>
        <tr>
            <td><button id=0 onclick="thesecretjavascriptfunction(0)"></button></td>
            <td><button id=1 onclick="thesecretjavascriptfunction(1)"></button></td>
            <td><button id=2 onclick="thesecretjavascriptfunction(2)"></button></td>
        </tr>
        <tr>
            <td><button id=3 onclick="thesecretjavascriptfunction(3)"></button></td>
            <td><button id=4 onclick="thesecretjavascriptfunction(4)"></button></td>
            <td><button id=5 onclick="thesecretjavascriptfunction(5)"></button></td>
        </tr>
        <tr>
            <td><button id=6 onclick="thesecretjavascriptfunction(6)"></button></td>
            <td><button id=7 onclick="thesecretjavascriptfunction(7)"></button></td>
            <td><button id=8 onclick="thesecretjavascriptfunction(8)"></button></td>
        </tr>
    </table>
    It should be 3x3 obviously
  </div>
      <form id="thesecrettictactoeform" action="" method="GET"></form> 
</div>

{{template "footer.html" .}}
